python-binance==1.0.12
sqlalchemy==1.4.15
schedule==1.1.0
apprise==0.9.5.1
Flask==2.0.3
Werkzeug==2.0.3
flask-cors==3.0.10
flask-socketio==5.0.1
sqlitedict==2.1.0
cachetools==5.3.3
unicorn-binance-websocket-api==2.10.2
