[binance_user_config]
api_key = sua_api_key_aqui
api_secret_key = sua_api_secret_aqui
tld = com
use_margin = no
current_coin = BNB
hourToKeepScoutingHistory = 1
bridge = USDT
scout_multiplier = 1.05
scout_sleep_time = 5
strategy = DefaultStrategy
sell_timeout = 0
buy_timeout = 0
